*{
    margin: 0;
}
h1{ font-size:80px;
    text-align: center;
    color: rgb(179, 157, 157);

}
a{margin-top: 50%;
    margin-left: 25%;
    text-decoration: none;
    align-items: center;
    font-size: 60px;
    color: rgb(217, 224, 224);


}
.s{
    width:100vw;
    height:100vh;
   
}
body {

    font-family: "Audiowide", sans-serif;
    background: rgb(37, 24, 84);
    color:rgb(100, 100, 141) ;
    padding: 5%;
}

#comp-choice {
    width: 340px;
    height: 340px;
    background-color:rgb(37, 24, 84); 
    border-style: none;
}


#your-choice {
    width: 340px;
    height: 340px;
   background-color:rgb(37, 24, 84);

    border-style: none;
}

#choices {
    width: 240px;
    height: 80px;
    background-color:rgb(37, 24, 84);
    margin: 0 auto;
    margin-top: 10px;

}

#choices img {
    width: 80px;
    height: 80px;
}
#st{
    display:inline-flex;
}
.d1{
    margin-left: 9%;
    text-align: center;
}
.d2{
    text-align: center;
margin-top: 5px;
    margin-left: 80%;
}
#res{
    text-align: center;
    font-size: 50px;
}
