#b1{
    width:100px;
    height:80px;
   background:rgb(187, 116, 187)
}
#b2{
    width:100px;
    height:80px;
   background:rgb(203, 176, 203)
}
#b3{
    width:100px;
    height:80px;
   background:rgb(187, 116, 187)
}
